@import 'variables';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-align: center;
    color: white;
}

body{
    @include flex();
    height: 100vh;
    width: 100vw;
    background-color: #051923
}

 .fizzbuz{
    @include flex;
    flex-direction: column;
    border: 0.5px solid $border-form;
    border-radius: 10px;
    height: 60%;
    width: 30%;
    padding: 50px;
    box-shadow: 0px 0px 20px 15px #011c29;

    #numberBtn{
        width: 80%;
        height: 30px;
        color: white;
        background-color: #0ead69;
        border: none;
        border-radius: 3px;
        cursor: pointer;
        transition: all 0.2s;

        &:hover{
          background-color: #0c824f;
          transform: scale(1.1);
        }
    }

    #clear{
        background-color: red;
        cursor: pointer;
        border-radius: 3px;
        padding: 5px 10px;
        border: none;
        font-size: 15px;
    }

   &-form{
        @include flex;
        flex-direction: column;

        label{
            margin-bottom: $margin-between;
            font-size: 25px;
        }

        input{
           height: 30px;
           width: 7em;
           margin-bottom: $margin-between;
           border-radius: 3px;
           padding: 10px;
           background-color: black;
           font-weight: bold;
           font-size: 18px;
           outline: none;
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        &-box{
            display: flex;
        }
    }
    &-message{
        margin-top: $margin-between;
    }
 }


  